<h1 class="text-center mb-4"><%= @title_tags ? "Results for #{params[:query]}" : "See all articles" %></h1>

<%= render "shared/search" %>

<div class="row align-items-center">
  <div class="col-2 card button-links">
    <%= link_to "Create Article", new_polymorphic_path([namespace, Article]), class:"btn btn-primary mb-2 mt-2" %>
    <%= render "shared/downloads" if current_namespace == "authorspace" %>
  </div>
  <% @articles.each do |article| %>
  <div id="article__<%=article.id %>" class="col-6 article-card w-75 mb-4">
    <div class="card-top">
      <p class="card-text mb-2">
        <% if article.authors.empty? %>
          <small><%= "Deactivated user" %></small>
        <% else %>
          <%= "#{article.group.name} :" if article.group.present? %>
          <%= article.names_list.map { |author| author.is_a?(Author) ? (link_to author.full_name, polymorphic_path([namespace, author]), class: "card-text") : (author) }.join.html_safe %>
        <% end %>
      </p>
      <p><%= time_ago_in_words(article.created_at) %> ago</p>
    </div>
    <div class="card-body mx-4">
      <div class="card-content d-flex mb-2 align-items-center">
        <% if article.photo.attached? %>
        <div class="card-photo me-2">
          <%= image_tag article.photo.variant :thumb %>
        </div>
        <% end %>
        <div class="card-title">
          <h2><%= link_to article.title, polymorphic_path([namespace, article]), class:"card-title" %></h2>
        </div>
      </div>
      <div class="card-tags">
        <p><%= article.tags.pluck(:name).map {|n| "##{n}" }.join("  ") %></p>
      </div>
      <div class="card-bottom d-flex justify-content-between">
        <div class="card-comments">
          <%= link_to polymorphic_path([namespace, article], anchor: "comments"), class:"card-title" do %>
            <i class="fa-regular fa-comment"></i>
          <% end %>
          <%= article.comments.present? ? (pluralize article.comments.size, "comment") : "Add a comment" %>
        </div>
        <div class="card-bookmark d-flex">
          <% if (article.bookmarks.where(user_id: current_user.id).present?)  %>
            <p class="me-2">Saved !</p>
            <%= link_to bookmark_path(current_user.bookmarks.where(article_id: article.id).pluck(:id)), data: {turbo_method: :delete} do  %>
              <i class="fa-solid fa-bookmark"></i>
            <% end %>
          <% else %>
            <%= simple_form_for @bookmark do |f| %>
              <%= f.input :article_id, as: :hidden, input_html: {value: article.id} %>
              <%= f.input :user_id, as: :hidden, input_html: {value: @current_user.id} %>
              <%= f.button :button, class:"btn-naked", data: {
                    turbo: "false", controller: "toggle", action: "click->toggle#changeStatus"} do %>
                      <i data-toggle-target="icon" class="fa-regular fa-bookmark"></i>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <div class="col-2"></div>
  <% end %>
</div>

<%= paginate @articles, window: 2 %>
