<%= simple_form_for [namespace, @article] do |f| %>
  <%= f.input :title %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.rich_text_area :rich_content %>
  <div class="row mt-2">
    <div class="col-4">
      <%= f.input :tag_list, as: :check_boxes, collection: Article::TAGS %>
    </div>
    <div class="col-8 mb-3" data-controller="toggle" >
      <button data-action="click->toggle#fire" class="btn btn-outline-primary">Set your team</button>
      <div class="d-flex justify-content-between d-none mt-3 g-3" data-toggle-target="togglableElement">
          <%= f.input :group_id, collection: current_author.groups, label_method: :name, label: "Existing Team :", include_blank: "Only me" %>
          <%= f.simple_fields_for :group  do |ff| %>
            <%= ff.input :name, label: "New Team name" %>
            <%= ff.simple_fields_for :memberships do |p| %>
              <%= p.input :author_id, collection: Author.all, label_method: :full_name %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
