<%= simple_form_for @article do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <% if params[:author_id]%>
    <%= f.input :original_author, collection: Author.where(id: params[:author_id]), label_method: :full_name, value_method: :id, include_blank: false %>
  <% else %>
    <div class="row g-3">
      <div class="col">
        <%= f.input :original_author, collection: Author.all,label_method: :full_name, value_method: :id, label: "Already an author?", prompt: "Find your name" %>
      </div>
      <div class="col-3">
        <%= f.input :new_author_fn %>
      </div>
      <div class="col-3">
        <%= f.input :new_author_ln %>
      </div>
    </div>
  <% end %>
  <%= f.submit "Create", class:"btn btn-primary" %>
<% end %>
