<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<p><i><%= pluralize @article.contributions.count, "contribution" %></i></p>
<p>Posted <%= time_ago_in_words(@article.created_at) %> ago</p>

<%= link_to "Add a contribution", new_article_contribution_path(@article) %>

<div class="d-flex">
  <%= link_to "Edit", edit_article_path %> |
  <%= button_to "Delete", @article, method: :delete %>
  <%= link_to "Back", articles_path %>
</div>
<hr>
