<h1><%= @author.first_name %> <%= @author.last_name %> </h1>
<p><%= pluralize @author.articles.count, "article" %> :</p>

<div class="row mb-4">
  <% @author.articles.each do |article| %>
  <div class="col-3">
    <%= link_to article.title, polymorphic_path([namespace, article]) %>
  </div>
  <% end %>
</div>

<% if policy(@author).new_article? %>
  <%= link_to "New article", new_polymorphic_path([namespace, Article]), class: "btn btn-primary"   %>
<% end %>
<%= link_to "Delete my profile", polymorphic_path([namespace, @author]), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@author).destroy?%>

<hr>
<div>
  <h3>Comments : </h3>
    <ul>
    <% @author.comments.includes(:user).each do |comment| %>
      <li><%= comment.content %> - <%= comment.user.full_name %> &nbsp <%= link_to "🗑", polymorphic_path([namespace, @author, comment]), data: {turbo_method: :delete} if policy(comment).destroy? %></li>
      <% end %>
    </ul>
</div>

<div>
  <%= render "#{namespace}/comments/form", author: @author, comment: @comment %>
</div>

<%= link_to "All articles", polymorphic_path([namespace, Article])  %>
