<h1><%= @author.first_name %> <%= @author.last_name %></h1>

<p><%= pluralize @author.articles.count, "article" %> :</p>

<ul>
  <% @author.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<%= link_to "New article", new_author_article_path(@author)  %>
<%= link_to "Delete", author_path(@author), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<hr>
<div>
  <p>Comments : </p>
    <ul>
    <% @author.comments.each do |comment| %>
      <li><%= comment.content %> - <%= comment.author.full_name %> - <%= link_to "🗑", author_comment_path(@author, comment), data: {turbo_method: :delete}%></li>
      <% end %>
    </ul>
</div>
<div>
  <%= render "comments/form", author: @author, comment: @comment %>
</div>

<%= link_to "All articles", articles_path  %>
