<%= simple_form_for [:authorspace, @article] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :tag_list, as: :check_boxes, collection: ["Ruby", "Rails", "Front-end", "Back-end"] %>
  <div class="row g-3">
    <div class="col">
      <%= f.input :group_id, collection: Group.all, label_method: :id, label: "Collaborative Team", include_blank: "Only me" %>
    </div>
    <div class="col">
      <%#= f.input :attribute %>
    </div>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
