<h1><%= @article.title %></h1>
<p><%= (@article.tags.map(&:name).join(", ")) if @article.tags %></p>

<p><%= @article.content %></p>

<p><i><%= pluralize @article.contributions.count, "contribution" %></i></p>
<p>Posted <%= time_ago_in_words(@article.created_at) %> ago</p>

<%= link_to "Add a contribution", new_authorspace_article_contribution_path(@article) %>

<div class="d-flex">
  <% if policy(@article).edit? %>
    <%= link_to "Edit", edit_authorspace_article_path %> |
  <% end %>
  <%= button_to "Delete", [:authorspace, @article], method: :delete if policy(@article).destroy? %>
  <%= link_to "Back", authorspace_articles_path %>
</div>
<hr>

<div>
  <p>Comments : </p>
    <ul>
    <% @article.comments.each do |comment| %>
      <li>
      <%= comment.content %> - <%= comment.author.full_name %> &nbsp <%= link_to "🗑", authorspace_article_comment_path(@article, comment), data: {turbo_method: :delete} if policy(comment).destroy? %>
      </li>
      <% end %>
    </ul>
</div>

<div>
  <%= render "authorspace/comments/form", article: @article, comment: @comment %>
</div>
